.idea/
__pycache__/ampache.cpython-37.pyc
*.pyc
ampache.egg-info/
build/lib/ampache.py
dist/
docs/examples/ampache.py
src/ampache.egg-info/
venv/
test*.py
get_art.jpg
*ampyche.conf
*ampyche.json
build_docs.conf
